<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="13"
          android:versionName="5.1"
          package="com.arny.flightlogbook" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-sdk android:targetSdkVersion="25" android:minSdkVersion="16"/>
    <application
            android:allowBackup="false"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
            android:name=".views.activities.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name=".additional.AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider" />
        </receiver>
        <activity  android:name=".views.activities.AddEditActivity"  android:label="@string/str_add"/>
        <activity android:name=".views.activities.AirplaneTypesActivity" android:label="@string/str_airplane_types"/>
        <activity android:name=".views.activities.AboutActivity" android:label="@string/str_about"/>
        <activity android:name=".models.Preferences" android:label="@string/str_settings"/>
        <activity  android:name=".views.activities.MetarActivity" android:label="@string/btn_metar_text"/>
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity android:name="com.dropbox.client2.android.AuthActivity" android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-rzzuhol6y1aibdx" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.FlightFragmentActivity" android:label="FlightFragmentActivity"/>
        <activity android:name=".views.activities.StartActivity" android:label="StartActivity"/>
        <service android:name=".models.BackgroundIntentService" android:enabled="true" android:label="BackgroundIntentService" android:exported="false"/>
        <service android:name="com.dropbox.sync.android.DbxSyncService" android:enabled="true" android:exported="false" android:label="Dropbox Sync" />
    </application>

</manifest>