<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arny.flightlogbook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:name=".FlightApp"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".presentation.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.flights.addedit.view.AddEditActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".presentation.flighttypes.view.FlightTypesActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".presentation.about.AboutActivity"
            android:label="@string/str_about"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".presentation.settings.view.Preferences"
            android:label="@string/str_settings" />
        <activity
            android:name=".presentation.planetypes.view.PlaneTypesActivity"
            android:label="@string/str_airplane_types"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".presentation.common.FragmentContainerActivity"
            android:screenOrientation="fullSensor" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:enabled="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <receiver
            android:name=".presentation.widget.AppWidget"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>

</manifest>