<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arny.flightlogbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <application
	    android:name=".FlightApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".data.additional.AppWidget"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <activity
            android:name=".presenter.addedit.AddEditActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:label="@string/str_add" />
        <activity
            android:name=".presenter.types.AirplaneTypesActivity"
            android:screenOrientation="portrait"
            android:label="@string/str_airplane_types" />
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/str_about" />
        <activity
            android:name="com.arny.flightlogbook.activities.Preferences"
            android:label="@string/str_settings" />

        <service
            android:name=".data.service.BackgroundIntentService"
            android:enabled="true"
            android:exported="false"
            android:label="BackgroundIntentService" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-rzzuhol6y1aibdx" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8bd3520e90d7d645d3151ea3044114aab59429c0" />
    </application>

</manifest>
